*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: flex-end;
    padding: 0px 90px;
    padding-top: 45px;
}
#left{
    width: 45%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}
#left h1{
    font-size: 100px;
    line-height: 80px;
}
#bottom-left{
    /* background-color: #ffffff; */
    width: 100%;
    /* height: 40%; */
}
#color{
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 25px;
        border-radius: 50px;
        border: 1px solid black;
        padding: 3px 5px;
        margin: 10px 0;
}
#color1{
    background-color: aqua; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px;
}

#color2{
    background-color: bisque;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px;
}
#left h2{
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}
#left p{
    font-size: 15px;
    width: 60%;
    font-weight: 500;
    color: #444;
    line-height: 20px;
}
#right{
    width: 38%;
    height: 89%;
    /* background-color: aquamarine; */
    position: relative;
}
#right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#right h4{
    font-size: 19px;
    font-weight: 300;
}   
#right h5{
    font-size: 13px;
    font-weight: 300;
}
#right img{
    height: 92%;
    width: 100%;
    object-fit: cover;
}
#black-gola{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    color: white;
    border-radius: 50%;
    right: -13%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rotated{
    /* background-color: red; */
    position: absolute;
    rotate: -90deg;
    bottom: 0;
    left: -9%;
    transform-origin: 0 0;
} 
#right h3{
    font-size: 20px;
    font-weight: 500;
}
